<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <!-- =====[ORDER PIPELINES]===== -->
      <commerce.orders.getAvailableCountries>
        <processor
          type="Achievecreative.Commerce.Plugin.Fulfillments.Web.Pipelines.GetAvailableCountries, Achievecreative.Commerce.Plugin.Fulfillments.Web" />
      </commerce.orders.getAvailableCountries>
    </pipelines>
  </sitecore>
</configuration>
