<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <!-- =====[ORDER PIPELINES]===== -->
      <commerce.orders.getAvailableCountries>
        <processor type="Achievecreative.Commerce.Plugin.Fulfillments.Web.Pipelines.GetAvailableCountries, Achievecreative.Commerce.Plugin.Fulfillments.Web" />
      </commerce.orders.getAvailableCountries>

      <commerce.shipping.getShippingMethods>
        <processor type="Achievecreative.Commerce.Plugin.Fulfillments.Web.Pipelines.FilterShippingMethods, Achievecreative.Commerce.Plugin.Fulfillments.Web" patch:instead="processor[@type='Sitecore.Commerce.Engine.Connect.Pipelines.Shipping.GetShippingMethods, Sitecore.Commerce.Engine.Connect']">
          <param ref="entityFactory"/>
        </processor>
      </commerce.shipping.getShippingMethods>
    </pipelines>
  </sitecore>
</configuration>
